/* SIDEBAR */
.side-bar {
  padding: 20px;
  border-right: 1px solid #cbc9c9;
  width: 20%;
  height: 100vh;
}
.item-link {
  color: black;
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  padding: 10px;
}
.content-flex {
  display: flex;
}
/* table */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f1f7f8;
}
th,
td {
  padding: 0.75rem;
  text-align: center;
  border: 1px solid #a0c8cf;
}
th {
  color: #fff;
  background-color: #74afb9;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-link:hover {
  background-color: #a0c8cf;
  border-radius: 12px;
}
.active:focus {
  border-radius: 12px;
  background-color: #a0c8cf;
}
